<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="frame">
                <table mdSort (mdSortChange)="sortData($event)">
                    <tr>
                        <th>#</th>
                        <th md-sort-header="qtd">Data</th>
                        <th md-sort-header="descricao">Cliente</th>
                        <th md-sort-header="valor">Valor total</th>
                    </tr>

                    <tr *ngFor="let pedido of pedidos">
                        <td>{{pedido.data}}</td>
                        <td>{{pedido.cliente.nome}}</td>
                        <td>{{pedido.total}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>