<md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="true">
        <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
      <md-icon>add</md-icon>
    </button>

    </md-sidenav>
    <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <md-icon>add</md-icon>
  </button>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron"></div>
            </div>
        </div>
    </div>
</md-sidenav-container>